/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */


  .highlight {
    background-color: #c6c4c4; 
  }

  .hasc {
    background-color: #82ea9a; 
  }
  
  .hdesc {
    background-color: #ef929a; 
  }

  h1 {
    font-size: 50px;
    text-decoration: underline;
  }

  body {
    background-color: #b8d4ee;
  }

  input[type = "submit"]{
    background-color: rgb(77, 200, 137);
  }